h1 {
    color: #373fff
}

h2 {
    color: #373fff
}

h3 {
    color: #373fff
}
h4 {
    color: #373fff
}

h5 {
    color: #373fff
}

body {
    background-color: #000000;
    color: #d4d4d4;
    background-image: url("file:///home/chronos/u-b21c2056909f7773c6bb20291cbff5b4435d0ec9/MyFiles/notes/galaxy.jpg");
   background-repeat: no-repeat;
  background-size: cover
    
}

p {
    color: #d4d4d4
}

